*{
    margin: 0;
    padding: 0;
}

body{
    background: #F5F2F2;
}


a {
    color: rgba(255,255,255,.5);
    text-decoration: none !important ;
}

a:hover {
    color: #F5F2F2;
}



/* Navbar */
.mainNav {
    background-color: #333333; 
}

.navbar-nav .nav-link {
    font-size: 15px;
    font-weight: 500;
}

.topnav a:hover {
    border-bottom: 2px solid white;
  }


.dropDownLinks {
    background-color: #333333;
    left: auto;
    right:10px;
}

.dp {  
    position: absolute;
    top: 8px;
    right: 1rem;
    padding: 0px;
    margin-bottom: 1px;
    list-style: none;
}

.colgLogo {
    position: absolute;
    top: 0px;
    left: 40vw;
    padding: 0px;
    margin: 2px;
}



/* login */

#form-desktop {

    display: none;
}

.form-container {
    background: white;

    width: auto;
    height: 100vw;

    padding-top: 40px;

    border-top-left-radius: 30px; 
    border-top-right-radius: 30px; 

    position: relative;
    bottom: 30px;

}

.form-container>form{
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}



.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px; 

    background: url(../images/login.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
     
    height: 350px;
}




/* Staff Profile */
.profile {
    width: 18rem;
    margin-top: 100px;
}

.profilepic {
    text-align: center;
    margin-bottom: 20px;
}
/* ------------ */




/* All media queries */

@media (min-width: 540px) {

    .form-container {
       
    
        border-top-left-radius:0; 
        border-top-right-radius:0; 
    
    }

}

@media (min-width: 760px) {

    #form-mobile {

        display: none;
    }

    
    #form-desktop {

        display: block;
    }
    
    .logo-container {

        height: 100vh;
        justify-content: center;
    
    }

    .form-container {

        height: auto;
        background: transparent;
        
    }

    .login-desktop-container {

        background-color:black;
        border-radius: 20px;
        padding: 50px;
        opacity: 0.8;
    }

}

.btn:focus,
.btn:active{
    box-shadow:none !important;
    outline:0px !important;
}



/* (Class+Parent) Meetings Masterform component */
.overlay {
    height: 29rem;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(202, 200, 200);
    margin-top: 74px;
    width: 90%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 5%;
    background-color: rgba(248, 244, 244, 0.99);
    transition: 0.5s;
    margin-bottom: 10px;
}

.boxForm {
    width: 320px;
    text-align: center;
    border-radius: 10px;
    border: 0.5px solid #e9e9e9;
    padding: 15px;
}


/* (Class+Parent) AddMeeting Component */
.addBox {
    height: 30rem; 
    margin-top:56px;
    margin-bottom:20px;
}

.btnAdd {
    color: rgb(90, 86, 86);
    height: 250px; 
    width: 250px; 
    border: 1px dashed rgb(94, 91, 91); 
    border-radius: 50px;
}

.addPlusSymbol {
    font-size: 6em;
    line-height: 0.5em;
}


/* (Class) MeetingItem component */
.mi {
    margin-left: auto;
    width: 95%;
}

#headMeetingItems {
    padding: 0px 2px 10px 15px;
    background-color: #333333;
    opacity: 0.95;
    border-top-left-radius: 120px;
}

.meetingListHeadings {
    text-align: center;
    font-weight:bold;
    color: gray;
}

.agenda {
    width: 100%; 
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    color: #F5F2F2;
}
.minutes {
    width: 100%; 
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    color: #F5F2F2;
}

/* Parent meeting item component */
.parentMeetingItem {
    border: 1px solid #333333;
    padding: 10px;
    margin: 10px;
    
}

/* Students component */
.studList {
    margin: 100px 10px 150px 10px;
}

.tagBtn1 .btn {
    height: auto;
    width: 100%;
}

.tagBtn1 div {
    padding:2px; 
    width: 140px;
}

.tagBtn2 .btn {
    padding: 2px 10px;
    height: 9vh;
    width: 100%;
}

.tagBtn2 div {   
    padding: 0px;
    width: 275px;
    overflow: hidden;
}

/* StudentItems */
.indiStudentLists {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.studItemBtn {
    width: 100%;
    padding: 5px;
    background: transparent;
    border: none;
    overflow: hidden; /*Should be changed */
}

.studItemBtn.col {
    padding: 0px;
}



/* Student Profile */
.studProf {
    width: 90vw;
    /* height: 450px; */
}

.studentDP {
    width: 100px;
    position: absolute;
    z-index: 1;
    top: -50px;
}



/* Guidelines */
#GuidelinesOne, #GuidelinesTwo, #GuidelinesThree {
    padding-left: 10px;
    color: #333333;
}

/* Footer */
footer {
    margin-top: 3rem;
    background-color: #333333;  
}

.foot {
    padding: 25px;
    color: rgba(255,255,255,.5);  
}

.foot > h5 {
    padding-top:2%;
    color: #F5F2F2;
    font-size: 1.5vw;
}

.footerUL {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.footerUL > li {
    display: inline;
    padding: 5px;
    font-size: 1.50vw;
}

.copyrights {
   font-size: 1.5vw;
}
