*{
    margin: 0;
    padding: 0;
}

body{
    background: #F5F2F2;
}


/* login */
.login-container {

    display: flex;
    flex-direction: column;
}

.form-container {
    background: white;

    width: auto;
    height: 100vw;

    padding-top: 40px;

    border-top-left-radius: 30px; 
    border-top-right-radius: 30px; 

    position: relative;
    bottom: 30px;

}

.form-container>form{
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}



.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px; 

    background: url(../images/login.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
     
    height: 350px;
}






/* Staff Profile */
.profile {
    width: 18rem;
    margin-top: 100px;
}
/* ------------ */

